<h4>Pdf head segment</h4>

<button type="button" class="btn btn-primary btn-lg pull-right" data-toggle="modal" data-target="#headHelpModal">Head help</button>
<br><br>

<!-- Modal -->
<div id="headHelpModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Loading bootstrap css</h4>
            </div>
            <div class="modal-body">
                <p>When applying bootstrap css from a cdn, printable css will be applied. This will strip some styling.</p>
                <p>To use a bootstrap css file which does not apply printable css use this one: </p>
                <p>&lt;link href=&quot;{{app.request.getSchemeAndHttpHost() }}/css/bootstrap.min.css&quot; rel=&quot;stylesheet&quot; /&gt;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" >Close</button>
            </div>
        </div>
    </div>
</div>
<p>head (load external resources for example)</p>
<div id="editorhead">some text</div>