<h4>Pdf footer</h4>

<div class="checkbox">
    <label>
        <input id='showfooter' type="checkbox"> Show footer 
    </label>
</div>
<form class="form-inline">
    <div class="form-group">
        <label for="footerheight">Footer height (10px, 1cm, 3mm)</label>
        <input type="text" class="form-control" id="footerheight" placeholder="10px">
    </div>
</form>
<button type="button" class="btn btn-primary btn-lg pull-right" data-toggle="modal" data-target="#footerHelpModal">Footer help</button>

<!-- Modal -->
<div id="footerHelpModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" >&times;</button>
                <h4 class="modal-title">Common problems</h4>
            </div>
            <div class="modal-body">
                <p>It can be a bit difficult to style the footer</p>
                <p>This is hacky but it works with a 40px footer height:</p>
                <p>&lt;div style='width: 105%; margin-left: -10px; margin-right: -10px; margin-bottom: -25px;margin-top:-2px; padding-top: 11px; padding-bottom:10px;'&gt;
                    &lt;div style='border-top: 1px solid #bdbdbd;padding-top:0;background-color: #eee; width: 100%; height: 100%; top: 8px;'&gt;
                        &lt;p style='margin-top:9px;margin-left:-10px;text-align:center;font-size:70%;font-family: &quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif; color:#333;font-weight:lighter;'&gt;{{'{{'}}pageNum{{'}}'}} of {{'{{'}}totalPages{{'}}'}}&lt;/p&gt;
                    &lt;/div&gt;
                &lt;/div&gt;
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<p>footer html, css must be inline</p>
<p>insert: {{'{{'}}pageNum{{'}}'}} and {{'{{'}}totalPages{{'}}'}} to get those values</p>
<div id="editorfooter">ss</div>