<h4>Pdf header</h4>
<div class="checkbox">
    <label>
        <input id='showheader' type="checkbox"> Show header
    </label>
</div>
<form class="form-inline">
    <div class="form-group">
        <label for="headerheight">Header height (10px, 1cm, 3mm)</label>
        <input type="text" class="form-control" id="headerheight" placeholder="10px">
    </div>
</form>


<button type="button" class="btn btn-primary btn-lg pull-right" data-toggle="modal" data-target="#headerHelpModal">Header help</button>

<!-- Modal -->
<div id="headerHelpModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

    <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Common problems</h4>
            </div>
            <div class="modal-body">
                <p>It can be a bit difficult to style the header</p>
                <p>This is hacky but it works with a 80px header height (insert above):</p>
                <p>&lt;div style='overflow:hidden;height:100%;margin-top:-10px;padding-bottom:20px;margin-left: -20px; margin-right: -20px;width: 105%;  border-bottom: 1px solid grey; '&gt;
                &lt;div style='border-bottom:1px solid #bdbdbd;background-color:#eee;width: inherit;height:90%;margin-top:0;'&gt;
                &lt;p style='font-family: &quot;Helvetica Neue&quot;,Helvetica,Arial,sans-serif; text-align:center;padding-top: 20px;padding-bottom: 20px;margin-left:-5px; color:#333;margin-bottom:60px;font-weight:lighter;'&gt;My Header&lt;/p&gt;
                &lt;/div&gt;
                &lt;/div&gt;  </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" >Close</button>
            </div>
        </div>
    </div>
</div>


<p>header html, css must be inline</p>
<p>insert: {{'{{'}}pageNum{{'}}'}} and {{'{{'}}totalPages{{'}}'}} to get those values</p>
<div id="editorheader">ss</div>