<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="{{ asset('js/localforage/localforage.min.js') }}" type="text/javascript" charset="utf-8"></script>
        <script src="{{ asset('js/init.js') }}" type="text/javascript" charset="utf-8"></script>
    </head>
    <body>
        {% block top %}{% endblock %}
    	{% include 'app/includes/updaters.html.twig' %}
        {% block register %}{% endblock %}
        {% block login %}{% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>