{% extends 'app/createbase.html.twig' %}

{% block head %}

    <meta charset="UTF-8" />
    <title>{% block title %}PdfBuilder{% endblock %}</title>

{% endblock %}

{% block top %}

 <div class="container">
        <div class='row'>
            <div class='col-lg-10 col-md-8 col-xs-6'>
                <h1 class='text-center'><span>Create pdf</span></h1>
                <p class='text-center'>Create your html, css and javascript and generate a pdf</p>
            </div>
            <div class='col-lg-2 col-md-4 col-xs-6'>
                <div class='topbutton' id='createpdfholder'>
                    <button id="generatepdf" type="button" class="btn btn-primary btn-lg pull-right">Generate pdf</button>
                    <a id='download'  target='_blank'></a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block body %}
   {% include 'app/includes/editors.html.twig' %}
{% endblock %}

{% block stylesheets %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
{% endblock %}

{% block javascripts %}
    <script>
        var baseurl = '{{app.request.getSchemeAndHttpHost() }}';
    </script>
    <script>
    var pdfcreatordemo = '{{demo}}';
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{ asset('js/ace/ace.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ asset('js/ace/mode-html.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ asset('js/localforage/localforage.min.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ asset('js/authorize.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ asset('js/pdfdemo.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ asset('js/server.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ asset('js/createandedit.js') }}" type="text/javascript" charset="utf-8"></script>
    
{% endblock %}