{% extends 'app/base.html.twig' %}

{% block head %}

    <meta charset="UTF-8" />
    <title>{% block title %}PdfBuilder{% endblock %}</title>

{% endblock %}

{% block body %}

    <div class="container">
        <div class='row'>
            <div class='col-lg-12'>
                <p id='msgbox'></p>
            </div>
        </div>
        <div class='row'>
            <div class='col-lg-6 col-lg-offset-3'>
                <h1 class='text-center'>Welcome to pdfbuilder proof of concept</h1>
            </div>   
        </div>
        <hr>
        <div class='row'>
            <div class='col-lg-6 col-lg-offset-3'>
                <div class='text-center'>
                    <h3>Click to start creating a new pdf</h3>
                    <a href="{{ path('createpage') }}" class="btn btn btn-primary btn-lg">Start!</a>
                </div>
            </div>
        </div>
        <hr>
        <div class='row'>
            <div class='col-lg-6 col-lg-offset-3'>
                <div class='text-center'>
                    <h3>Click to list projects</h3>
                    <a href="{{ path('listpage') }}" class="btn btn btn-primary btn-lg">Get projects!</a>
                </div>
            </div>
        </div>
        <hr>
        <div class='row'>
            <div class='col-lg-6 col-lg-offset-3'>
                <div class='text-center'>
                    <h3>Click to load demo</h3>
                    <a href="{{ path('demopage') }}" class="btn btn btn-primary btn-lg">Load demo!</a>
                </div>
            </div>
        </div>
        <hr>
    </div>

{% endblock %}

{% block stylesheets %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
    <script>
        var baseurl = '{{app.request.getSchemeAndHttpHost() }}';
    </script>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    

{% endblock %}

