{% extends 'app/listbase.html.twig' %}

{% block head %}

    <meta charset="UTF-8" />
    
    
    <title>{% block title %}PdfBuilder{% endblock %}</title>

{% endblock %}


{% block body %}
    <div class="container">
        <div class='row'>
            <div class='col-lg-12'>
                <p id='msgbox'></p>
            </div>
        </div>
        <div class='row'>
            <div class='col-lg-9 col-md-8 col-xs-6'>
                <h1 class='text-center'>Your projects</h1>
            </div>
            <div class='col-lg-3 col-md-4 col-xs-6'>
                <div class='topbutton cloudrelated'>
                    <button id="syncprojects" type="button" class="btn btn-primary btn-lg pull-right">Sync projects in cloud</button>
                </div>
            </div>
            
        </div>
        <hr>
        <div class='row'>
          
            <div class='col-lg-6 col-lg-offset-3'>
                <h3>Your Projects</3>
                <hr>
                <div class="list-group" id='localprojectslist'>
                   
                </div>
            </div>
        </div>

        <div class='row cloudrelated'>
          
            <div class='col-lg-6 col-lg-offset-3'>
                <h3>Your Cloud Projects</3>
                <hr>
                <div class='row'>
                    <div class='col-md-6'>
                    {% include 'app/includes/login.html.twig' %}
                    </div>
                    <div class='col-md-6'>
                    {% include 'app/includes/register.html.twig' %}
                    </div>
                </div>
                {% include 'app/includes/logout.html.twig' %}
                <div class="list-group" id='cloudprojectslist'>
                    <div class="list-group-item disabled">No Items</div>
                </div>
            </div>
        </div>

        <hr>
    </div>


{% endblock %}

{% block stylesheets %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}

    <script>
        var baseurl = '{{app.request.getSchemeAndHttpHost() }}';
    </script>
    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="{{ asset('js/authorize.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ asset('js/server.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ asset('js/list.js') }}" type="text/javascript" charset="utf-8"></script>
   
    
    

{% endblock %}

