{% extends 'app/loadbackupbase.html.twig' %}

{% block head %}

    <meta charset="UTF-8" />
    <title>{% block title %}PdfBuilder{% endblock %}</title>

{% endblock %}

{% block top %}

 <div class="container">
        <div class='row'>
            <div class='col-lg-10 col-md-8 col-xs-6'>
                <h1 class='text-center'><span>Load backup pdf</span></h1>
                <p class='text-center'>Create your html, css and javascript and generate a pdf</p>
            </div>
            <div class='col-lg-2 col-md-4 col-xs-6'>
                
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block body %}
   {% include 'app/includes/loadfile.html.twig' %}
{% endblock %}

{% block stylesheets %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="{{ asset('css/style.css') }}" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
{% endblock %}

{% block javascripts %}
    <script>
        var baseurl = '{{app.request.getSchemeAndHttpHost() }}';
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    
    <script src="{{ asset('js/localforage/localforage.min.js') }}" type="text/javascript" charset="utf-8"></script>

    <script src="{{ asset('js/backup.js') }}" type="text/javascript" charset="utf-8"></script>
   

    
{% endblock %}