<div class="container">
    <div class='row'>
        <div class='col-lg-6'>
            <hr>
            <h4>Pdf Name</h4>
            <form class="form-inline">
                <div class="form-group">
                    <label for="border">Name of pdf</label>
                    <input type="text" class="form-control" id="pdfname" placeholder="">
                </div>
            </form>
        </div>
        <div class='col-lg-6' id='backupsegment'>
            <hr>
            <h4>Create a backup file</h4>
            <div id='backupholder'></div>
        </div>
        <div class='col-lg-6' id='trustthiscodeholder'>
            <hr>
            <h4>Outside code</h4>
            <p>The loaded code is from the database or you uploaded a backup. As a result, this data is from an untrusted origin. Someone could have taken hold of your login credentials or changed a backup-file, and put malicious code in it. A preview is therefore not loaded and you can't create a pdf before you examine the code and click the below button to approve the code.</p>
            <div>
                <button id='trustthiscode' type="button" class="btn btn-primary">Yes I trust this code</button>
            </div>
        </div>
        <div class='col-lg-6'>
            <hr>
            <h4>Pdf border</h4>
            <form class="form-inline">
                <div class="form-group">
                    <label for="border">border of pdf(10px, 1cm, 3mm)</label>
                    <input type="text" class="form-control" id="border" placeholder="10px">
                </div>
            </form>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-12'>
            <hr>
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation"><a href="#headtab" aria-controls="headtab" role="tab" data-toggle="tab">Head</a></li>
                <li role="presentation" class="active"><a href="#bodytab" aria-controls="bodytab" role="tab" data-toggle="tab">Body</a></li>
                <li role="presentation"><a href="#jstab" aria-controls="jstab" role="tab" data-toggle="tab">Javascript</a></li>
                <li role="presentation"><a href="#csstab" aria-controls="csstab" role="tab" data-toggle="tab">CSS</a></li>
                <li role="presentation"><a href="#headertab" aria-controls="headertab" role="tab" data-toggle="tab">Header</a></li>
                <li role="presentation"><a href="#footertab" aria-controls="footertab" role="tab" data-toggle="tab">Footer</a></li>
                <li role="presentation"><a href="#previewtab" aria-controls="previewtab" role="tab" data-toggle="tab">Preview</a></li>
            </ul>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane" id="headtab">
                    {% include 'app/includes/editor/head.html.twig' %}
                </div>
                <div role="tabpanel" class="tab-pane active" id="bodytab">
                    {% include 'app/includes/editor/body.html.twig' %}
                </div>
                <div role="tabpanel" class="tab-pane" id="jstab">
                    {% include 'app/includes/editor/javascript.html.twig' %}
                </div>
                <div role="tabpanel" class="tab-pane" id="csstab">
                    {% include 'app/includes/editor/css.html.twig' %}
                </div>
                <div role="tabpanel" class="tab-pane" id="headertab">
                    {% include 'app/includes/editor/pdfheader.html.twig' %}
                </div>
                <div role="tabpanel" class="tab-pane" id="footertab">
                    {% include 'app/includes/editor/pdffooter.html.twig' %}
                </div>
                <div role="tabpanel" class="tab-pane" id="previewtab">
                    <hr>
                    <h4>Result</h4>
                    <p>Width around 400px like an A4</p>
                    <p>header and footer <b>not</b> included</p>
                    <iframe id='iframe' sandbox="allow-same-origin allow-scripts"></iframe>
                </div>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-lg-12'>
            <hr>
        </div>
    </div>
</div>