<div class='container'>
  <div class='row'>
    <div class='col-md-12'>
        <hr>
    </div>
  </div>
  <div class='row'>
    <div class='col-lg-6 col-lg-offset-3'>
      <h4>Choose a file please</h4>
      <label class="btn btn-default btn-file">
        Browse <input type="file" id="fileinput" />
      </label>
      <hr>
    </div>
  </div>
  <div class='row' id='replaceexistingholder'>
    <div class='col-lg-6 col-lg-offset-3'>
      <p>Project allready exists... overwrite?</p>
      <button  class="btn btn-primary" id='replaceexisting'>Yes load backup</button>
    </div>
  </div>
  <div class='row' id='loadbackupholder'>
    <div class='col-lg-6 col-lg-offset-3'>
      <p>Click to create !!</p>
      <button  class="btn btn-primary" id='loadbackup'>Create !!</button>
    </div>
  </div>
</div>
<script src="{{ asset('js/loadbackup.js') }}" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
  
</script>