<form class="form-signin" id='loginform'>
  <h2 class="form-signin-heading">Please sign in</h2>
  <label for="loginEmail" class="sr-only">Email address</label>
  <input type="email" id="loginEmail" class="form-control" placeholder="Email address" required="" autofocus="">
  <label for="loginPassword" class="sr-only">Password</label>
  <input type="password" id="loginPassword" class="form-control" placeholder="Password" required="">
  <div class="checkbox">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <hr>
</form>
<script src="{{ asset('js/login.js') }}" type="text/javascript" charset="utf-8"></script>



