<div class='row' id='logoutholder'>
	<div class='col-md-12'>
		<div>
			<button id='logoutbutton' type="button" class="btn btn-primary btn-md pull-right">Cloud Logout</button>
		</div>
		<br>
		<br>
		<hr>
	</div>
</div>
<script src="{{ asset('js/logout.js') }}" type="text/javascript" charset="utf-8"></script>