<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ path('homepage') }}">PdfBuilder</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav menuitems">
        <li id="menuhomepage"><a href="{{ path('homepage') }}">Home</a></li>
        <li id='menucreatepage'><a href="{{ path('createpage') }}">Create</a></li>
        <li id='menulistpage'><a href="{{ path('listpage') }}">List projects</a></li>
        <li id='menuloadbackuppage'><a href="{{ path('loadbackuppage') }}">Load backup</a></li>
        <li id='menudemopage'><a href="{{ path('demopage') }}">Demo</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
  <script>
        var routename = '{{app.request.get('_route')}}';
  </script>
  <script src="{{ asset('js/menu.js') }}" type="text/javascript" charset="utf-8"></script>
</nav>