<form class="form-signin" id='registerform'>
  <h2 class="form-signin-heading">Register</h2>
  <label for="registerEmail" class="sr-only">Email address</label>
  <input type="email" id="registerEmail" class="form-control" placeholder="Email address" required="" autofocus="">
  <label for="registerPassword" class="sr-only">Password</label>
  <input type="password" id="registerPassword" class="form-control" placeholder="Password" required="">
  <div class="checkbox">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
  <hr>
</form>
<script src="{{ asset('js/register.js') }}" type="text/javascript" charset="utf-8"></script>


