body{

  margin-top: 60px;
  
}

form#register, form#login {

  display:none;

}

#editorbody {

  position: relative;
  height: 600px;

}

#editorhead{

  position: relative;
  height: 300px;

}

#editorcss, #editorjs, #editorfooter, #editorheader {

  position: relative;
  height: 600px;

}

#iframe {

  width: 440px;
  height: 700px;

}

hr{

  height: 3px;
  background: green;

}

.changeproject{

  cursor: pointer;
  
}

div.topbutton {

  margin-top:30px;

}

form#registerform, form#loginform, div.logoutholder, button.optionhidden {

  display: none;

}

/*loading block*/

#loader {

  position: fixed;
  display: none;
  top: 0;
  width: 100%;
  height: 100%;
  padding: auto;
  padding-top: 20%;
  background-color: rgba(204, 204, 204, 0.6);
  z-index: 10;

}

#updater {

  position: fixed;
  top: 30px;
  left: 30px;
  display: none;
  z-index: 10;
  
}

.sk-cube-grid {

  width: 40px;
  height: 40px;
  margin: 100px auto;

}

.sk-cube-grid .sk-cube {

  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 

}

.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}

/*upload button */

.btn-file {

    position: relative;
    overflow: hidden;

}

.btn-file input[type=file] {

    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;

}

/*load backup and overwrite */

div#replaceexistingholder{

  display: none;

}

div#backupsegment {

  display: none;
  
}

div#loadbackupholder {

  display: none;
  
}

/*show createpdfbutton*/

div#createpdfholder {

  display: none;

}

div#trustthiscodeholder {

  display: none;

}
